@{
    ViewData["Title"] = "Home Page";
}

<div style="background-color:papayawhip">
    This is the Index Page
</div>
<div style="margin:50px">
    <div id="webpack-content" style="border:1px solid black">index</div>
</div>


