<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
</head>
<body>
    <div style="background-color:red">
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>
    </div>
    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - WebApp</p>
        </footer>
    </div>
    <script src="~/js/index.bundle.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
